body {
  font-family: "Courier New", monospace;
  font-size: 14px;
  background: #eee;
}

.container {
  margin: 20px auto;
  width: 270px;
  background: white;
  padding: 15px;
  text-align: center;
}

#timer {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin-bottom: 15px;
}

.button {
  width: 80px;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.inactive {
  opacity: 0.6;
}

.typingContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
}

#target {
  font-size: 48px;
  letter-spacing: 0.1em;
}

.cursor {
  cursor: pointer;
}

#result {
  font-size: 64px;
}
